@use "../../scss/abstracts/" as *;
@use "../../scss/layout/container" as *;

.grid{
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-template-rows: masonry;
    // grid-gap: 1px;
    columns: 5 30rem;
    column-gap: 1px;
    text-align: center;
    border: 1px solid red;
    
    div{
        border: 2px solid $bg-color;
        img{
            width: 100%;
        }
    }
}
