@use "../../scss/abstracts/"as *;
@use "../../scss/layout/container"as *;

.grid {
    // border: 1px solid red;
    columns: 5 30rem;
    column-gap: 1px;
    text-align: center;    
}

.gridItem {
    div {
        border: 2px solid $bg-color;

    }

    &Image {
        opacity: 0;
        transition: all .5s;
        width: 100%;

        &Loaded {
            opacity: 1;
        }
    }

}