@use "../../scss/abstracts" as *;


.container{
    // @include bdr;
    background: transparent;
    @include flexbox($d:row nowrap);
    gap: .5rem;
}
.image{
    width: 4rem;
}
.title{
    font-size: 4rem;
    font-weight: $black-font-weight;
}