.mainTitle {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 3rem;
    text-align: center;
}

.subTitle{
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
}