@use "../../scss/abstracts/mixins"as *;
@use "../../scss/layout/container"as *;

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    @include for-medium-screens {
        gap: 2rem;
    }

    @include for-large-screens {
        gap: 4rem;
        justify-content: space-between;
    }
}