.swiper {
    border: 1px solid magenta;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    border: 1px solid magenta;
    min-width: 18rem;
    height: 18rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}