.swiper {
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}

.swiper-slide {
    min-width: 18rem;
    height: 18rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
    opacity: 0;
}

.swiper-slide img.loaded{
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fffb00;
}