@mixin flexbox($d: column nowrap, $j: center, $a: center) {
    display: flex;
    flex-flow: $d;
    justify-content: $j;
    align-items: $a;
}

@mixin for-medium-screens {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin for-large-screens {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin horizontal-center {
    margin: 0 auto;   
}