.content {
    background-color: #000;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 100;

    a {
        color: transparent;
        display: block;
        text-decoration: none;
    }
}