@use "../../scss/abstracts"as *;

.nav {
    // @include bdr($c:magenta);
    @include flexbox($d:row nowrap, $j:space-between);
    padding: 2rem 1rem 1rem;
    width: 100%;

    @include for-medium-screens {
        max-width: $large-screen;
        padding: 2rem 0 1rem;
        margin: 0 auto;
        gap: 3%;
    }


    &List {
        // @include bdr($c:magenta);
        @include flexbox();
        animation: moveGradient 3s alternate infinite;
        gap: 2rem;
        background: $second-gradient;
        background-size: 200% 200%;
        background-position: 0 50%;
        list-style-type: none;
        position: fixed;
        top: 0;
        right: 0;
        transition: transform 0.4s;
        transform: translateX(100%);
        width: 50%;
        height: 100%;
        z-index: 100;

        @include for-medium-screens {
            animation-duration: 4s;
            background: $main-gradient;
            background-size: 250% 250%;
            flex-flow: row nowrap;
            gap: 0;
            justify-content: space-between;
            gap: unset;
            position: static;
            top: unset;
            right: unset;
            transform: none;
            height: unset;
            width: unset;
            max-width: $large-screen;
        }

        &Open {
            transform: translateY(0);
        }

    }

    &Item {
        @include for-medium-screens {
            transition: all .5s;
            position: relative;
            border-right: 10px solid $bg-color;

            &::before {
                content: "";
                position: absolute;
                background-color: rgb(18, 18, 18);
                opacity: 1;
                inset: 0px -1px 4px;
                -ms-inset: 0px -1px 4px;
                z-index: 1;
                transition: opacity 0.35s ease 0s;
            }

            &:hover {
                &::before {
                    opacity: 0.2;
                }
            }


            &:last-child {
                display: none;
            }
            &Btn{
                @include for-medium-screens {
                    display: none;
                }
            }
        }

        @media screen and (min-width:900px) {
            &:last-child {
                display: block;
            }
        }
    }


    &Link {
        font-weight: $bold-font-weight;
        font-size: 1.7rem;
        display: block;
        padding: 1rem 1.5rem;
        transition: transform .5s;

        &[aria-current="page"] {
            color: $primary-yellow;
            transform: translateY(-.5rem) scale(1.02);
        }

        @include for-medium-screens {
            position: relative;
            z-index: 5;
        }

        @include for-large-screens {
            padding: 1rem 2.5rem;
        }
    }

}